build/*
.gradle/1.12/taskArtifacts/cache.properties.lock

.gradle/1.12/taskArtifacts/fileHashes.bin

.gradle/1.12/taskArtifacts/fileSnapshots.bin

.gradle/1.12/taskArtifacts/taskArtifacts.bin

.gradle/*

.idea/workspace.xml

.gradle/1.12/taskArtifacts/outputFileStates.bin
